.boxCategory12 {
    margin-top: 7rem;
    grid-column: 1/13;
    grid-row: 8/9;
    z-index: 2;
}

.title12 {
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2rem;
    /* identical to box height */

    text-align: center;

    color: #ffffff;

    opacity: 0.7;
}

.Captilize {
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 2rem;
    /* identical to box height */

    text-align: center;
    text-transform: capitalize;

    /* 3rd */

    color: #14183e;
}

.rowCards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    margin-left: 0%;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.card {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    transition: ease 0.8s;
}
.card:hover {
    background: #ffffff;
    box-shadow: 98px 98px 55px rgba(0, 0, 0, 0.01), 55px 55px 47px rgba(0, 0, 0, 0.05),
        24px 24px 35px rgba(0, 0, 0, 0.09), 6px 6px 19px rgba(0, 0, 0, 0.1),
        0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 36px;
}

.card:hover > .describeTextCard {
    color: #5e6282;

    font-style: normal;
    font-weight: 500;
    font-size: 1.1rem;

    /* or 162% */

    text-align: center;

    opacity: 0.7;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.cardImg {
    object-fit: contain;
    width: 10rem;
    height: 10rem;
}
.titleCard {
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 2rem;
    text-align: center;

    /* text heading color */

    color: #1e1d4c;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.describeTextCard {
    font-style: normal;
    font-weight: 500;
    font-size: 1.1rem;

    text-align: center;

    color: #ffffff;

    opacity: 0.7;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
@media (max-width: 1490px) {
    .rowCards {
        margin-left: 5%;
    }
}
@media (max-width: 1295px) {
    .rowCards {
        margin-left: 0%;
        justify-content: center;
    }
}

@media (max-width: 800px) {
    .boxCategory12 {
        grid-row: 5/6;
    }
    .rowCards {
        margin-left: 0%;
        justify-content: center;
    }
    .Captilize {
        font-size: 1.5rem;
        /* line-height: 2rem; */
    }
    .card {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}
